<form #vehicleForm="ngForm" class="vehicle-form" (ngSubmit)="onSubmit()">

  <mat-form-field class="vehicle-full-width">
    <mat-label>Имя спортсмена</mat-label>
    <input name="customerFio" ngModel required matInput>
  </mat-form-field>

  <mat-form-field class="vehicle-full-width">
    <mat-label>Имя тренера</mat-label>
    <input name="coachFio" ngModel required matInput>
  </mat-form-field>

  <mat-form-field class="vehicle-full-width">
    <mat-label>Начало треннировки</mat-label>
    <input name="time" ngModel required matInput>
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary">Submit</button>
</form>
