<form class="vehicle-form" (ngSubmit)="onSubmit()">

  <mat-form-field class="vehicle-full-width">
    <mat-label>Customer FIO</mat-label>
    <input name="customerFio" [(ngModel)]="vehicle.customerFio" required matInput>
  </mat-form-field>

  <mat-form-field class="vehicle-full-width">
    <mat-label>Coach FIO</mat-label>
    <input name="coachFio" [(ngModel)]="vehicle.coachFio" required matInput>
  </mat-form-field>

  <mat-form-field class="vehicle-full-width">
    <mat-label>Time</mat-label>
    <input name="time" [(ngModel)]="vehicle.time" required matInput>
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary">Save</button>
</form>
