<mat-card class="vehicle-card">
  <mat-card-header>
    <mat-card-title>Имя спортсмена: {{ vehicle.customerFio }}</mat-card-title>
    <mat-card-subtitle>Начало треннировки: {{ vehicle.time }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Тренер: {{ vehicle.coachFio }}
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="editItemEvent.emit(vehicle.id)">Редактировать</button>
    <button mat-button (click)="removeItemEvent.emit(vehicle.id)">Удалить</button>
  </mat-card-actions>
</mat-card>
